<mat-toolbar class="topbar" style="background-color: #074e67">
  <div mat-icon-button aria-label="Notifications">
    <div id="logo">
      <!--
      <img src="assets/images/logos/angular.svg" width="60" alt="Logotipo" />
      -->
    </div>
  </div>
  <span id="brand"></span><span id="brand2"></span>

  <span class="flex-1-auto"></span>

  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <mat-icon class="d-flex align-items-center" style="color: white">
      <i-tabler name="category" class="icon-25 d-flex"> </i-tabler>
    </mat-icon>
  </button>

  <!--
  <button mat-icon-button aria-label="Instagram">
    <mat-icon class="d-flex align-items-center" style="color: white">
      <i-tabler name="brand-instagram" class="icon-25 d-flex"> </i-tabler>
    </mat-icon>
  </button>
  -->

  <mat-menu #profilemenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    <a mat-menu-item>
      <mat-icon class="d-flex align-items-center" style="color: #074e67">
        <i-tabler name="home-2" class="icon-18 d-flex"></i-tabler>
      </mat-icon>
      Inicio
    </a>
  </mat-menu>
</mat-toolbar>
